li {
    list-style: none;
}

.left-icon img {
    float: left;
    margin-right: 30px;
    display: block;
}

.parent .right-content {
    display: inline;
}

.li-son {
    display: inline-block;
    margin-bottom: 60px;
}

.right-content h4 {
    margin-top: 0px;
    margin-bottom: 7px;
    letter-spacing: 0.25px;
    color: #232d39;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

}

.right-content p {
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

