.nav-link:hover {
    color: #ed563b !important;
}

.nav-link {
    color: #fafafa !important;
}

.navbar-nav {
    padding-right: 150px; 
}

.navbar-nav li {
    padding-right: 40px; 
}

.navbar-brand {
    color: #fafafa !important;
    padding-left: 100px; 
    font-size: 32px;
    font-weight: 800;
}

.navbar-brand em {
    color:#ed563b;
    font-style: normal;
}


nav{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: #212529;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

